
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* html{
    font-size: 62.5%;
    1rem=10px
} */

.header{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2125;
    color:#e9dfce;
}

.firstname{
    display: flex;
    font-size: 20px;
    align-self:left;
    transition: transform 0.5s ;
}
.firstname:hover{
    transform: scale(1.2);
}
.lastname{
    display: flex;
    font-size: 20px;
    align-self:left;
    transform: translate(60px);
    transition: transform 0.5s;
}
.lastname:hover{
    transform: scale(1.2);
}

i{
    color:#e9dfce;
}

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
}

#home{
    height:800px;
    background-color: cadetblue;
}

#about{
    height:800px;
    background-color: burlywood;
}

#project{
    height:800px;
    background-color:  cadetblue;
}

#interest{
    height:800px;
    background-color:burlywood;
}

#contact{
    height:800px;
    background-color: cadetblue;
}



/* To open Sidebar CSS Starts */

.navbar{
    background-color: #e9dfce;
    color:#1e2125; 
    overflow:hidden;
    margin:0;
    width: 100vw;
}

.nav{
    height:95vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:20px;
}

.nav-list{
    font-size: 80px;
    text-decoration: none;
    transition: transform 1s;
    color :#504f60;
}

.nav-list:hover{
    width:100%;
    text-align: center;
    transform: scale(1.5);
    color: #504f6f;
}

.xmark{
    height: 5vh;
    padding-top: 20px;
    padding-right:20px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.XCross{
    color: #504f6f;
    transition: transform 1s;
}

.XCross:hover{
    transform: scale(1.5);
}

@media only screen and (max-width: 768px) {
    .nav-list{
        font-size: 60px;
        text-decoration: none;
        transition: transform 1s;
        color :#504f60;
    }
    .nav-list:hover{
        width:100%;
        text-align: center;
        transform: scale(1.3);
        color: #504f6f;
    }
    .nav{
        height:95vh;
        width:100vw;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap:20px;
    }
} 
/* Sidebar CSS ends */


/* Your existing CSS styles */

.navbar {
    display: none; /* Initially hide the navbar */
}

.navbar.show-navbar {
    display: block; /* Show the navbar when the "show-navbar" class is present */
}

.header.sticky.hide-sticky {
    display: none; /* Hide the sticky header when the "hide-sticky" class is present */
}